html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color:#DDDDDD;
}

/*Common css*/
textarea {
  width:98%;
}

/* Grid */
#main, #main > * {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

   -webkit-align-items: stretch;
   align-items: stretch;

}
#main {
  height: 100%;
}
#main > * {
  padding: 10px;
  flex: 1 100%;

  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

#main > .header {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#main > .rightcol > #description {
  flex: 1 auto;
}
/* center column grid */
#main > * > #semantic-settings {
  height: 350px;
}
#main > * > #interpretation-results {
  flex: 1 auto;
  position: relative;
  min-height: 300px;
}
/* left column grid*/
#main > * > #source-code {
  height: 350px;
}
#main > * > #abstract-syntax-tree {
  flex: 1 auto;
  position: relative;
  min-height: 300px;
}

@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  #main .aside { flex: 1 auto;}
}

/* Large screens */
@media all and (min-width: 800px) {
  #main .maincontent { flex: 4 auto; }
}


.scrollable {
  overflow-y:scroll;
  overflow-x:scroll;
  margin: 2px;
}

pre.inline {
  display: inline;
}

.editablediv {
  border-style:solid;
  border-width:1px;
  border-color:#bbbbbb;
  background-color:white;
  width:50px;
}


.header {
  text-align: center;
}

/* Left column */


#text {
  height: 200px;
  font-family:monospace;
  line-height:0.9;
  background-color:white;
}

#parsed {
  background-color:white;
  position:absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
}

/*Center column*/


#output {

  width:100%;
  background-color:white;
  position:absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
}

/*Right column*/




